.arrow-down {
    position: absolute;
    top: 5px;
    transform: translateX(-44px);
    transition: transform 200ms linear;
}

.arrow-down[data-CurentPlayer="2"] {
    transform: translateX(44px);
}